.card {
  max-width: 350px;
  max-height: 600px;
    img {
      width: 100%;
      max-height: 350px;
      border-radius: 5px;
    }
    .heart {
        width: 100px;
        height: 100px;
        background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
        background-position: 0 0;
        cursor: pointer;
        transition: background-position 1s steps(28);
        transition-duration: 0s;
        
        &.is-active {
          transition-duration: 1s;
          background-position: -2800px 0;
        }
      }
            

    .infos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .cross {
      font-weight: 700;
      cursor: pointer;
      transition: 0.5s ease-out;

      &:hover {
        box-shadow: inset 0 -6px 0 0 #9933FF;
        
      }
    }
}