.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #E8FFDE;
    padding: 20px 0;

    ul {
        display: flex;
        gap: 20px;
    }
    li {
        font-size: 1.2em;
        font-weight: 600;
        color: #396645;
    }
}